/*--------------------------------------------------------------
## Button Styling
--------------------------------------------------------------*/

.button {
    padding: 7px 10px;
    color: var(--grey-5);
    border: 1px solid var(--grey-3);
    transition: all .3s ease;
    border-radius: 5px;
    width: fit-content;
    &:hover {
        border-color: var(--grey-3);
        background-color: var(--grey-6);
        color: var(--grey-1);
    }
}

.icon {
    opacity: 0;
    width: 0;
    transition: all 0.3s ease;
}

.button:hover .icon {
    opacity: 1;
    width: 15px;
    padding-right: 6px;
}

.button-secondary {
    color: var(--grey-4);
    border-radius: 5px;
    padding: 5;
    transition: all .3s ease;
    &:hover {
        background-color: #dadada;
        color: var(--black);
    }
}

.button-nav {
    height: 100%;
    padding: 8px 15px;
    background-color: #dadada73;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    &:hover {
        background-color: #dadadab3;
    }
}

.dot {
    width: 5px;
    height: 5px;
    background-color: var(--black);
    transition: opacity 0.3s ease;
    border-radius: 50%;
    opacity: 0;
}

.button-nav:hover .dot {
    opacity: 1;
}
