/*--------------------------------------------------------------
## Contact CTA Form Styling
--------------------------------------------------------------*/

.contact-form .contact-input {
    padding: 5px 0;
    border-bottom: 1px solid var(--grey-3);
    transition: border-color 0.3s ease;
    color: var(--grey-5);

    &:focus {
        border-bottom-color: var(--grey-5);
    }

    &::placeholder {
        font-size: 14px;
        color: var(--grey-3);
    }

    &:user-invalid:placeholder-shown {
        border-bottom-color: var(--error);

        &::placeholder {
            color: var(--error);
        }
    }
}

@media (max-width: 768px) {
    .contact-cta {
        align-items: stretch;
    }

    .contact-form {
        width: 100%;
        max-width: none;
    }

    .contact-cta-intro {
        justify-content: center;
    }
}
