/*--------------------------------------------------------------
## Footer Styling
--------------------------------------------------------------*/

.footer-glow {
    position: absolute;
    width: 25rem;
    height: 10rem;
    border-radius: 50%;
    pointer-events: none;
    background: linear-gradient(90deg, #000000, #e30505, #d9ae05, #3cae6c, #0c3cbf, #0c3cbf);
    filter: blur(60px);
    mix-blend-mode: screen;
    will-change: transform, opacity;
}

.logo--footer {
    width: 100%;
    aspect-ratio: 28 / 3;
    background-image: url("/images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-detail-row {
    flex-wrap: nowrap;
@media (max-width: 1000px) {
        flex-wrap: wrap;
    }
    > div:last-child {
        flex-basis: 100%;
    }
}
