/*--------------------------------------------------------------
## Footer Styling
--------------------------------------------------------------*/

.logo--footer {
    width: 100%;
    aspect-ratio: 28 / 3;
    background-image: url("/images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer-detail-row {
    flex-wrap: nowrap;
@media (max-width: 1000px) {
        flex-wrap: wrap;
    }
    > div:last-child {
        flex-basis: 100%;
    }
}

.inquire-footer-image {
    width: 300px;
    transition: width 0.4s ease;

    @media (min-width: 769px) {
        &:hover {
            width: 350px;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.inquire-footer-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;

    &.is-active {
        opacity: 1;
    }
}

.footer-light-strike-host {
    a {
        transition: color 0.3s ease;

        &:hover {
            color: var(--grey-6);
        }
    }
}

.inquire-hover-image {
    width: 350px;
}