/*--------------------------------------------------------------
## Global Styling
--------------------------------------------------------------*/

a {
    color: inherit;
}

.link {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.overflow {
    overflow: hidden;
}

.radius-5 {
    border-radius: 5px;
}

.radius-15 {
    border-radius: 15px;
}

.nowrap {
    white-space: nowrap;
}

.shrink-0 {
    flex-shrink: 0;
}

.text-black {
    color: var(--black);
}

.text-white {
    color: var(--grey-1);
}

.text-grey-4 {
    color: var(--grey-4);
}

.text-grey-5 {
    color: var(--grey-5);
}

.text-grey-6 {
    color: var(--grey-6);
}

.text-footer {
    color: #999999;
}

.pointer {
    cursor: pointer;
}

.cursor-none {
    cursor: none;
}

/* ------------ Grid Styles ------------ */

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.span-3 {
    grid-column: span 3;
}

/* ------------ Flex Styles ------------ */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

/* ------------ Gap Styles ------------ */

.gap-3 {
    gap: 3px;
}

.gap-5 {
    gap: 5px;
}

.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-90 {
    gap: 90px;
}

.gap-100 {
    gap: 100px;
}

/* ------------ Margin Styles ------------ */

.m0 {
    margin: 0px;
}

.ma {
    margin: auto;
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}

.mta {
    margin-top: auto;
}

.mba {
    margin-bottom: auto;
}

.mr15 {
    margin-right: 15px;
}

/* ------------ Padding Styles ------------ */

.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.p40 {
    padding: 40px;
}

.pt60 {
    padding-top: 60px;
}

.pr15 {
    padding-right: 15px;
}

.pr30 {
    padding-right: 30px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb75 {
    padding-bottom: 75px;
}

.pb150 {
    padding-bottom: 150px;
}

.pl3 {
    padding-left: 3px;
}

.pl30 {
    padding-left: 30px;
}

.py8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px15 {
    padding-left: 15px;
    padding-right: 15px;
}

.px30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pth {
    padding-top: 61px;
}

/* ------------ Position Styles ------------ */

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.sticky {
    position: sticky;
    top: 0;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.top-half {
    top: 50%;
    transform: translateY(-50%);
}

.left-half {
    left: 50%;
    transform: translateX(-50%);
}

/* ------------ Z-Index Styles ------------ */

.z-2 {
    z-index: 2;
}

/* ------------ BG Styles ------------ */

.bg-grey {
    background-color: #dadada73;
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #0f0f0f;
}

.bg-red {
    background-color: rgba(255, 0, 0, 0.25);
}

.bg-blue {
    background-color: rgba(0, 0, 255, 0.25);
}

/* ------------ Image Styles ------------ */

div.bg-image,
.bg-image {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

/* ------------ Spacer Styles ------------ */

.spacer {
    height: 100px;
    &.x2 {
        height: 200px;
    }
}

/* ------------ Ratio Styles ------------ */

.ratio-1-1 {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.ratio-1-2 {
    width: 100%;
    aspect-ratio: 1 / 2;
}

.ratio-2-1 {
    width: 100%;
    aspect-ratio: 2 / 1;
}

.ratio-8-5 {
    width: 100%;
    aspect-ratio: 8 / 5;
}

.ratio-16-9 {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.ratio-16-18 {
    width: 100%;
    aspect-ratio: 16 / 18;
}

/* ------------ Width Styles ------------ */

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

/* ------------ Height Styles ------------ */

.h-100 {
    height: 100%;
}

.h-650px {
    height: 650px;
}

.h-60vh {
    height: 60vh;
}

.h-75vh {
    height: 75vh;
}

.h-80vh {
    height: 80vh;
}

.h-100vh {
    height: 100vh;
}

.h-full {
    height: calc(100vh - 61px);
}

/* ------------ Max Styles ------------ */

.max-300 {
    max-width: 300px;
}

.max-450 {
    max-width: 450px;
}

.max-500 {
    max-width: 500px;
}

.max-950 {
    max-width: 950px;
}

.max-1600 {
    max-width: 1600px;
}

.max-90vh {
    max-height: 90vh;
}

.max-full {
    max-height: calc(100vh - 61px);
}

/* ------------ Mobile Styles ------------ */

.m-hide {
    @media (max-width: 768px) {
        display: none;
    }
}

.m-show {
    display: none;
    @media (max-width: 768px) {
        display: inherit;
    }
}

.m-wrap {
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.m-100 {
    @media (max-width: 768px) {
        width: 100%;
    }
}
