@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-SemiBolditalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 107%;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 14px;
}

.h5 {
  font-size: 10px;
  letter-spacing: 8%;
  text-transform: uppercase;
}

.f-nav {
  font-size: 12px;
}

.f-20 {
  font-size: 20px;
}

body {
  color: var(--grey-6);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3%;
  font-family: 'Neue Montreal', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  ::selection {
    background: #0F0F0F;
    color: white;
  }
}

html {
  background-color: var(--grey-1);
}

:root {
  --black: #0F0F0F;

  --grey-1: #F4F4F4;
  --grey-2: #E9E9E9;
  --grey-3: #D9DAD8;
  --grey-4: #B4B4B4;
  --grey-5: #A2A2A2;
  --grey-6: #474747;

  --error: #F22731;
}