.mission-card .image {
    will-change: filter, transform;
}

.mission-card .swap-text {
    flex-shrink: 0;
    width: 260px;

    &.is-hovered {
        width: 310px;
    }
}

@media (max-width: 768px) {
    .swiper-slide .mission-card {
        transform-origin: left center;
        transition: transform 0.5s ease-in-out;
    }

    .swiper-slide-next .mission-card {
        transform: scale(0.85);
    }
}
